a{
    text-decoration: none;
}


.arbicfonts{
    font-family: Mehr Nastaliq Web\ 3;
    /* font-family: "arbic",serif; */
    white-space: nowrap;
    font-size: 16px;
    color:green;
    /* float: right; */
    /* float: left; */
}

.middle-middle{
    font-family: Mehr Nastaliq Web\ 3;
    /* font-family: "arbic",serif; */
    white-space: nowrap;
    font-size: 24px;
    color:red;
    font-weight: bold;
}

.font-bold{
    font-weight: bold;      
}

.milad-title{
    font-size: 40px;
    font-family: Mehr Nastaliq Web\ 3;
    /* white-space: nowrap; */
}

