a{
    text-decoration: none;
}

.arbicfonts{
    font-family: 'Noto Naskh Arabic', serif;
    white-space: nowrap;
    font-size: 18px;
    color:green;
}

.middle-middle{
    font-family: 'Noto Nastaliq Urdu', serif;
    white-space: nowrap;
    font-size: 22px;
    color:red;
    font-weight: bold;
}

.font-bold{
    font-weight: bold;      
}

.milad-title{
    font-size: 40px;
    font-family: 'Noto Nastaliq Urdu', serif;
    padding-bottom: 10px;
}

