a{
    text-decoration: none;
    color: black;
}



.arbicfonts{
    font-family: 'Noto Naskh Arabic', serif;
    white-space: nowrap;
    font-size: 30px;
    text-align: center;
    color: blue;

}

.milad-title{
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Nastaliq Urdu', serif;
    padding-bottom: 10px;
}

.Roundedimage{
    border-radius: 50%;
}

@media only screen and (max-width: 600px){
    .arbicfonts {
        font-size: 25px;
        font-weight: bold;
    }
}