a{
    text-decoration: none;
}

.arbicfonts{
    font-family: "arbic",serif;
    float: right;
}

.font-bold{
    font-weight: bold;      
}

.milad-title{
    font-size: 40px;
    
}


  
@media(mix-width: 992px)
{
    .arbicfonts{
        font-family: "arbic",serif;
        float: right;
    }
}

@media(min-width:768px) and (max-width:991px)
{

}

@media(min-width:575px) and (max-width:767)
{

}

@media(min-width:480px) and (max-width:574)
{
   
}

@media(mix-width:281px) and (max-width:479px)
{
    
}

@media only screen and (max-width: 600px){
.arbicfonts {
    font-size: 24px;
    padding: 0%;
    margin: 0%;
    font-family: "arbic",serif;
    float: right;
    color:red;
}
}

@media only screen and (max-width: 363px){
    .arbicfonts {
        font-size: 21px;
        padding: 0%;
        margin: 0%;
        font-family: "arbic",serif;
        float: right;
        color:green;
    }
    }

    @media only screen and (max-width: 326px){
        .arbicfonts {
            font-size: 18px;
            padding: 0%;
            margin: 0%;
            font-family: "arbic",serif;
            float: right;
            color:hotpink;
        }
        }

        @media only screen and (max-width: 290px){
            .arbicfonts {
                font-size: 17px;
                padding: 0%;
                margin: 0%;
                font-family: "arbic",serif;
                float: right;
                color:lightseagreen;
            }
            }
    

@media only screen and (max-width: 280px) {
    .arbicfonts {      
      font-size: 15px;
      padding: 0%;
      margin: 0%;
      font-family: "arbic",serif;
      float: right;
      color:blue;
    }
  }

  