a{
    text-decoration: none;
}

.arbicfonts{
    font-family: "arbic",serif;
    float: right;
}

.font-bold{
    font-weight: bold;    
}


  
@media(mix-width: 992px)
{
    .arbicfonts{
        font-family: "arbic",serif;
        float: right;
    }
}

@media(min-width:768px) and (max-width:991px)
{

}

@media(min-width:575px) and (max-width:767)
{

}

@media(min-width:480px) and (max-width:574)
{
   
}

@media(mix-width:281px) and (max-width:479px)
{
    
}

@media only screen and(max-width:344){
   
}


@media only screen and (max-width: 320px) {
    .arbicfonts {      
      font-size: 16px;
      padding: 0%;
      margin: 0%;
      font-family: "arbic",serif;
      float: right;
      color: blue;
    }
  }

  